.ant-layout {
  background: rgb(255,255,255)
}

.ant-tabs-top > .ant-tabs-nav{
  margin: 0px;
}

/* 标题栏 */
.ant-layout-header{
  height: 50px;
  line-height: 50px;
}

.ant-page-header-heading-title{
  font-weight: 500;
}

/* 内容区 */
.page-content {
  background: white;
  margin: 8px;
}

/* 明细行，或者列表的表格 */
.page-items {
  padding: 0 16px;
}
